<section class="formulario">
    <h2>AGREGAR PRODUCTO</h2>
    <form method="post" action="/api/productos">
        <label>Nombre: <input type="text" name="title"></label>
        <label>Precio: <input type="text" name="price"></label>
        <label>Thumbnail URL: <input type="text" name="thumbnail"></label>
        <button type="submit">Enviar</button>
    </form>
</section>