<%- include("./partials/head.ejs") %>
<%- include("./partials/header.ejs") %>

<section class="formulario">
    <h2>CARGAR PRODUCTO</h2>
    <form method="post" action="/productos" enctype="multipart/form-data">
        <label>Título: <input type="text" name="title" required></label>
        <label>Precio: <input type="text" name="price" required></label>
        <label><span><input type="radio" name="formImage" value="url" class="formRadio" required> Imagen - URL: </span><input type="text" name="thumbnail"></label>
        <label><span><input type="radio" name="formImage" value="file" class="formRadio" required> Imagen - Cargar </span><input id="formFile" type="file" name="imgFile"></label>
        <button>Enviar</button>
    </form>
</section>

<%- include("./partials/footer.ejs") %>