<header>
    <nav>
        <a href="/">EXPRESS SERVER</a>
        <ul>
            <li><a href="#formulario">Cargar</a></li>
            <li><a href="#productos">Ver</a></li>
            <li><a href="#chat">Chat</a></li>
        </ul>
    </nav>
</header>

<section class="formulario" id="formulario">
    <h2>CARGAR PRODUCTO</h2>
    <form class="formulario__form">
        <label>Título: <input type="text" name="title" required id="form__title"></label>
        <label>Precio: <input type="text" name="price" required id="form__price"></label>
        <label>Imagen - URL: <input type="text" name="thumbnail" id="form__imgUrl"></label>
        <button>Enviar</button>
    </form>
</section>

<section class="productos" id="productos">
    <h2>VER PRODUCTOS</h2>
    <% if (items){ %>
        <table class="productos__table">
            <tr>
                <th>TITULO</th>
                <th>PORTADA</th>
                <th>PRECIO</th>
            </tr>

            <% items.forEach(item=>{%>
                <tr>
                    <td>
                        <%=item.title%>
                    </td>
                    <td><img alt="item img" src="<%=item.thumbnail%>" /></td>
                    <td>$<%=item.price%> USD</td>
                </tr>
                <% }) %>
        </table>
        <% } else {%>
            <p>No hay productos cargados.</p>
            <% } %>
</section>

<section class="chat" id="chat">
    <h2>CHAT</h2>
    <form class="chat__container">
        <fieldset>
            <legend>USER</legend>
            <input class="chat__container__nombre" type="text" name="nombre" id="chatNombre" placeholder="Ingresar nombre..." required autocomplete="off" maxlength="200">
            <label class="chat__container__nombre--label" for="chatNombre">Nombre:</label>
        </fieldset>
        <div class="chat__container__mensajes"></div>
        <div class="chat__container__envio">
            <input class="chat__container__mensaje" type="text" name="nombre" id="chatNombre" placeholder="Escribir mensaje..." required autocomplete="off" maxlength="500">
            <button type="submit">Enviar</button>
        </div>
    </form>
</section>

<footer>
    <p>footer</p>
</footer>